#. 1. 입력하기
## 1.1 입력함수 : input
### 1.1.1 input 실습

In [4]:
input('어제 무엇을 먹었습니까?')

어제 무엇을 먹었습니까?

''

 input으로 받은 값을 변수에 할당

In [6]:
name = input("어제 무엇을 먹었습니까?")

어제 무엇을 먹었습니까?치킨

In [13]:
print("어제, " + name + "을 먹었습니다!")

어제, 치킨을 먹었습니다!

In [10]:
# input을 활용한 덧셈 - 문자열인 경우
a = input("첫번째 숫자를 입력해주세요")
b = input("두번째 숫자를 입력해주세요")

print("a + b = ", a+b, "입니다." )

첫번째 숫자를 입력해주세요3
두번째 숫자를 입력해주세요7
a + b =  37 입니다.

In [12]:
# input을 활용한 덧셈 - 숫자열인 경우
a = int(input("첫번째 숫자를 입력해주세요"))
b = int(input("두번째 숫자를 입력해주세요"))

print("a + b = ", a+b, "입니다." )

첫번째 숫자를 입력해주세요3
두번째 숫자를 입력해주세요7
a + b =  10 입니다.

# 2. 출력함수 Print

In [14]:
# 1. 여러줄 출력

'출력합니다.'
'출력합니다.'

'출력합니다.'

In [16]:
# 2. 여러값 출력

print("hello", "world", "!")

hello world !

In [19]:
# 3. sep 구분자

print("Hello", "world", "!", sep = "~")

Hello~world~!

In [22]:
# 4. end 구분자

print("Hello", "world", "!", sep = "~", end = "^^")

Hello~world~!^^

In [23]:
# 5. f-string
# 5.2 f-string이 없을때

name  = 'licat'
age = 10

print('제 이름은 {name}, 제 나이는 {age}입니다.')

제 이름은 {name}, 제 나이는 {age}입니다.

In [25]:
# 5.2 f-string에 중괄호가 없을때

name  = 'licat'
age = 10

print(f'제 이름은 name, 제 나이는 age입니다.')

제 이름은 name, 제 나이는 age입니다.

In [27]:
# 5.3 f-string을 제대로 사용했을 때

name  = 'licat'
age = 10

print(f'제 이름은 {name}, 제 나이는 {age}입니다.')

제 이름은 licat, 제 나이는 10입니다.

# 5.4 예시
name = input('어느 동에 살고 계신가요?')
time = int(input('몇 회 참여가능하신가요'))

print(f'저는 {name}에 살고 있고, 주 {time}회 참여 가능합니다')

In [32]:
# 6. None

a = None
a

In [34]:
a #print를 쓰지 않으면 None값 및 a 변수를 아무것도 출력하지 않음

In [35]:
print(a)

None