<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0104_%EC%8B%9C%ED%80%80%EC%8A%A4%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
'''
- 코드 실행 날짜:20240104
- 버전: V0.1
- 작성자 : 이은희
- 코드내용: 시퀀스 자료형
'''

'\n- 코드 실행 날짜:20240104\n- 버전: V0.1\n- 작성자 : 이은희\n- 코드내용: 시퀀스 자료형\n'

#1. 시퀀스 자료형

- 여러 개의 항목들이 순서대로 나열된 구조를 나타내는 데이터 유형

1. 리스트(List)
2. 문자열(String)
3. 튜플(Tuple)
4. 바이트(Bytes)
5. 바이트배열(Bytearray)
6. 범위(range)

##1.1. 인덱싱 (Indexing)

In [4]:
#1.1 인덱싱
          #01234
      #(-)54321
example = 'abcde'
print(example[0]) # 출력: a
print(example[2]) # 출력: c
print(example[-2]) # 출력: d

a
c
d

##1.2. 슬라이싱(Slicing)

In [6]:
#1.2 슬라이싱
#example = 'abcde'
           #01234
        #(-)54321

print(example[1:3]) # 출력: bc
print(example[-4:-1]) #출력: bcd, stop의 전자리까지 출력
range(10)[3] # 출력: 3
range(100)[::5] # 출력: range(0, 100, 5)

bc
bcd

range(0, 100, 5)

In [13]:
##1.3. 특정 항목의 포함 여부(Member)

example = 'abcde'
print('a' in example) # 출력: True
print('z' in example) # 출력: False
print('f' not in example) # 출력: True

True
False
True

In [14]:
##1.4. 연결 & 반복 (Iteration)

example1 = 'abcde'
example2 = 'f'
print(example1 + example2) # 출력: abcdef
print(example2 * 3)        # 출력: fff

abcdef
fff

##1.5. 내장 함수

1. len() ; 길이
2. max() ; 최대값
3. min() ; 최소값
4. index()
5. count() ; 개수

In [17]:
#1.5 내장함수 사용 예시

example = 'abcde'
print(len(example))  # 출력: 5
print(min(example))  # 출력: a

5
a

#2. 시퀀스 자료형의 패킹과 언패킹
************중요함***********

;데이터를 그룹화하거나 그룹에서 분해하는 간결한 방법
- 패킹(packing)
- 언패킹(unpacking)

In [21]:
#2.1 패킹

# 튜플 패킹 >>>>> ','로 나열하면 튜플로 생성
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)
print(type(packed_tuple))

(1, 2, 3, 4)
<class 'tuple'>

In [23]:
tuple_example = 1
print(tuple_example)  # 출력: 1 >>> 정수
print(type(tuple_example))

1
<class 'int'>

In [28]:
#2.2 언패킹

#튜플 언패킹, 언팩시 순서대로 변수에 할당되고 타입은 정수형으로 변환
a, b, c, d = packed_tuple
print(a)  # 출력: 1
print(b)  # 출력: 2
print(type(b)) #출력 : 정수형
print(type(packed_tuple)) #출력: 튜플형

1
2
<class 'int'>
<class 'tuple'>

In [29]:
print(packed_tuple)

(1, 2, 3, 4)

In [38]:
#다양한 패킹/언패킹
#range는 0~n-1까지 숫자를 생성하는 함수

a, b, c = range(3) #0, 1, 2
print(a)
print(range(3))
print(a,b,c)

0
range(0, 3)
0 1 2

In [44]:
a, b, c, d, e = 'hello'
print(a)
print(b)
print(c)
print(d)
print(e)
packed_tuple = a, b, c, d, e
print(packed_tuple)
print(type(packed_tuple))
print(a, b, c, d, e)
print(type(a, b, c, d, e))

h
e
l
l
o
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>
h e l l o

TypeError: ignored

In [46]:
a, b = [10, 20]
a # 출력: 0

10

In [47]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

In [49]:
total_sum = 0

for i in [10, 20]:
      print(i)

10
20

In [50]:
# 1.2.1. 별표(*)를 이용한 언패킹

first, *middle, last = [1, 2, 3, 4, 5]
print(first)    # 출력: 1
print(middle)   # 출력: [2, 3, 4]
print(last)     # 출력: 5

1
[2, 3, 4]
5

In [52]:
first, *middle, last = [1,2,3,4,5]
print(first)
type(first)
print(middle)
type(middle)
print(last)
type(last)

1
[2, 3, 4]
5

int

In [54]:
*first, middle, last = [1,2,3,4,5]
print(first)
type(first)
print(middle)
type(middle)
print(last)
type(last)

[1, 2, 3]
4
5

int

In [56]:
first, middle, *last = [1,2,3,4,5]
print(first)
type(first)
print(middle)
type(middle)
print(last)
type(last)

1
2
[3, 4, 5]

list

In [60]:
first, *middle = [1,2,3,4,5]
print(first)
type(first)
print(middle)

1
[2, 3, 4, 5]

In [62]:
*first, middle = [1,2,3,4,5]
print(first)
type(first)
print(middle)

[1, 2, 3, 4]
5