<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0105_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
#1 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
#1.1 'hello' and 1 #결과: 문자열(t) and t => 1
#1.2 10 or 'hello world' #결과: 정수(t) or ;'hello world'=> 10

#2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

d.get('three', '3')

#3, 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]

l[2][1][0]


#4, 아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]

sum = l[0] + l[1]
print(sum)
sum[0] + sum[1] + sum[2] + sum[3]

#5, (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
#정답: 30
l[1::2]
a, b, c, d, e = l[1::2]
total = a + b + c + d + e
print(total)

In [ ]:
#2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

d.get('three', '3')

In [42]:
# 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
#1.1 'hello' and 1 #결과: 문자열(t) and t => 1
#1.2 10 or 'hello world' #결과: 정수(t) or ;'hello world'=> 10

In [12]:
#2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

d.get('three', '3')

'3'

In [43]:
#3, 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]

l[2][1][0]

100

In [36]:
#아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]

sum = l[0] + l[1]
print(sum)
sum[0] + sum[1] + sum[2] + sum[3]

[1, 2, 3, 4]

10

In [67]:
#(난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
#정답: 30
l[1::2]
a, b, c, d, e = l[1::2]
total = a + b + c + d + e
print(total)

30

In [73]:
#(난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
#정답: 30

def f(x):
    return x % 2 == 0
sum(filter(f, l))

TypeError: 'list' object is not callable