<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0116_class_%EB%A9%94%EC%84%9C%EB%93%9C%EC%B2%B4%EC%9D%B4%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 메서드체이닝

In [2]:
## 매우중요!!!!!!!!!!!!!!!!!!!!!!!!! 복습하라
'Hello World'.replace('Hello', 'hi').lower()
# 그 메서드에 리턴된 값이 순차적으로 해소가 되는 방식

#'hello world'.a().b().c().c()
#'Hello World'.split().lower # error <<스플릿후 리스트형으로 반환되니까 문자형아니라서 로어가 적용안됨
'Hello World'.split()[0].lower()

'hello'

In [8]:
'hello world'.replace('hello', 'hi')
'hello world'.replace('hello', 'hi').upper() #앞 결과물이 str이므로 append안됨
'hello world'.replace('hello', 'hi').upper().replace('HI', "HELLO")
'hello world'.replace('hello', 'hi').upper().replace('HI', "HELLO").append() #error 형변환필

AttributeError: 'str' object has no attribute 'append'

In [10]:
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [4]:
#:)

class Calculator:
    def __init__(self, value):
        self.value = value

    def add(self, other):
        self.value += other
        return self

    def subtract(self, other):
        self.value -= other
        return self

    def multiply(self, other):
        self.value *= other
        return self

    def get_value(self):
        return self.value

calc = Calculator(1)
result = calc.add(2).subtract(1).multiply(3).get_value() #이 이후에 매서드체이닝 연결하고 싶으면 int형 메서드 사용
print(result)  # 결과: 6

6

# 일급함수와 고차함수

In [11]:
#일급 함수는 함수를 값으로 취급하는 것을 허락합니다.

def greet(name):
    return f'Hello, {name}'

say_hello  = greet
print(say_hello('World'))

Hello, World

In [12]:
# 잘 사용하지 않지만,
# 변수가 길 때,
# 오타가 많이 생기는 변수일 때,
# 메서드 명도 길
l = [10, 20, 30]
# l.append(100)
add = l.append
add(10)
add(20)
l

[10, 20, 30, 10, 20]

In [ ]:
# 위와 같은 화살표 입니다.
a = 10
b = a
c = b

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

funcs = [add, subtract]
print(funcs[0](2, 3))  # 출력: 5

In [ ]:
class Operator:
    def add(self, x, y):
        return x + y

    def sub(self, x, y):
        return x - y

    def mul(self, x, y):
        return x * y

    def div(self, x, y):
        return x / y

    def _and(self, x, y):
        pass

    def _or(self, x, y):
        pass

op = Operator()
logical_op = {
    'add': op.add,
    'sub': op.sub,
    'mul': op.mul,
    'div': op.div,
}
arithmetic_op = {
    '_and': op._and,
    '_or': op._or,
}

print(logical_op['add'](2, 3)) # 출력: 5
print(op.add(2, 3)) # 출력: 5

for _, f in logical_op.items():
    print(f(2, 3)) # 4칙연산 모두 계산

일급함수 = 함수를 '변수 취급'하는  것
함수 = 변수(=값) => 일급함수

In [ ]:
# 함수 안에 함수 선언, 동시에 함수를 리턴할 수 있다.(데코레이터의 핵심 개념)
# 중요한 개념: x라는 변수가 함수가 끝나는데도 불구하고 살아있다? 클로져
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_5 = create_adder(5)
print(add_5(10))  # 출력: 15

In [25]:
def create_sq(x):
    def sq(y):
        return x ** y
    return sq

제곱2 = create_sq(2) # x를 변경 불가능하게 감추기 위한 코딩 기
제곱3 = create_sq(2)
제곱4 = create_sq(2)

제곱2(2), 제곱2(3), 제곱2(4)

(4, 8, 16)

In [22]:
# 밖에서는 안에 있는 값을 참조할 수 없습니다.

def f():
    x = 10
    y = 20
    return x + y
f()
x

NameError: name 'x' is not defined

In [23]:
# 안에서는 밖에 있는 값을 참조할 수 있습니다.
one = 100
def f():
    x = one +10
    y = 20
    return x + y

f()
x

NameError: name 'x' is not defined

In [ ]:
def add_and_subtract(x, y):
    addition = x + y
    subtraction = x - y
    return addition, subtraction

# 함수 호출
result = add_and_subtract(5, 3)

# 결과 출력
print(result)  # 출력: (8, 2)