<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0116_%EA%B3%BC%EC%A0%9C_%EA%B3%A0%EC%B0%A8%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문제 1: 함수를 인자로 받는 고차함수
'''
주어진 리스트와 함수를 인자로 받아,
리스트의 각 요소에 해당 함수를 적용한
결과를 반환하는 고차함수 apply_function을 작성해주세요.
'''

def apply_function(lst, func):
    return list(map(func, lst)) #map(함수, 순회가능한 객체)

result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [ ]:
#문제 2: 함수를 반환하는 고차함수
'''
정수 n을 인자로 받아,
다른 정수 x에 n을 곱하는 함수를
반환하는 고차함수 multiply_by_n을 작성해주세요.
힌트를 드리자면 반환 값은 lambda여야 합니다.
'''

def multiply_by_n(n):
    def mul_by(y):
        return n * y
    return mul_by

multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15

In [1]:
# 가장 쉬운 풀이

def apply_function(lst, func):
   return [func(i) for i in lst] # 리스트컴프리헨션만드는  : append 하고 싶은 값을 빼고 for 문을 뒤로

result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [2]:
#2

def multiply_by_n(n):
    return lambda x: x * n

multiplier = multiply_by_n(5)
print(multiplier(3))  #

15