<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0118_f_string%2C_%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 버전별 변동 사항

- Python 3.5 : async / await
비동기(asynchronous)는 일반적으로 여러 작업이 동시에 수행되는 방식을 의미합니다. 이는 작업이 시작되고 완료되는 시간이 겹치지 않아도 되며, 한 작업이 완료되기를 기다리지 않고 다음 작업을 시작할 수 있다는 것을 뜻합니다.

Python에서의 비동기 프로그래밍은 asyncio 라이브러리를 통해 지원됩니다. 이 라이브러리는 이벤트 루프, 코루틴, 태스크 등의 개념을 통해 비동기 작업을 처리합니다.

이벤트 루프: 비동기 작업들을 관리하고 실행하는 코어입니다.
코루틴: 비동기 함수를 의미하며, 'async def'로 선언됩니다. 이들은 실행을 일시 중지하고 이벤트 루프로 제어를 반환한 후, 나중에 다시 시작할 수 있는 함수입니다.
태스크: 코루틴의 실행을 스케줄링하는데 사용됩니다. 이벤트 루프는 이러한 태스크를 관리하고 실행합니다.
이러한 비동기 프로그래밍은 I/O 바운드 작업(파일 또는 네트워크 작업 등)을 처리할 때 유용하며, 이를 통해 높은 동시성을 달성할 수 있습니다. 하지만 CPU 바운드 작업에서는 병렬 처리나 멀티스레딩이 더 효과적일 수 있습니다.


- Python 3.6 : Dict에 순서 / f-string / 타입힌트

- Python 3.7 : dataclasses

- Python 3.8 : 왈러스 연산자(:=)

- Python 3.9 : 딕셔너리 결합 연산자(|)

- Python 3.10 : match

In [ ]:
#관용적 방법
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email


# dataclasses 사용법
# 실무에서 아무도 안씀...정말 좋은 기능인데..
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

In [ ]:
# 딕셔너리 결합 연산자
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

# 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일은 열였으면 꼭 닫아야함.
# 메모리가 살아있다.
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world') # 내용기입하는 방
f.close()

In [ ]:
# 파일 닫기를 까먹을 까봐 사용하는 방법.
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
for i in range(10):
    with open('test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션2
# 엑셀로 각각 정보 정리

# 미션3
# html로 table로 정리하기 -> table 클릭하면 정렬되게하기

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 정보추출은 -> map!!!!!!!!!!!!!외워요

list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)): #enumerate 앞이 인덱스
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
# bs4 공식문서 : parser
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [ ]:
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(str(db_data), 'html.parser')
# json_data = json.loads(soup.text)
# json_data

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 3.1 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
# 부록
# 엑셀라이터
# 복습x

In [ ]:
# 워크북(엑셀 파일 1개)
# 워크시트(sheet)
# 셀(네모 칸 하나)

In [ ]:
# 파이썬으로 엑셀파일 만들기...와우...
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'hojun')

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1]+i[2])

A4 50
B4 70
C4 90

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])
    # f-string 첫번째 인자 숫자'4'의 의미는 엑셀 행 번호를 의미함
    #  "                       i[0]의 의미는 A, B, C를 의미

# D2에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식삽입
worksheet.write('D2', '=sum(A2:C2)/3')
worksheet.write('D3', '=sum(A3:C3)/3')


workbook.close()

In [ ]:
# 크롤링
# 웹 크롤링 -> 엑셀
# pdf 크롤링 -> 엑셀
# 한글 크롤링 -> 엑셀

# 파일 형식 변환
# CSV -> xlsx
# Json -> xlsx

# 매크로
# 매크로 작동 로직 -> 엑

In [ ]:
# 미션3
# html로 table로 정리하기 -> table 클릭하면 정렬되게하기

In [ ]:
db_data

[{'_id': '7f5440ab-7e2f-4a42-Be13-89987fa65b32',
  'index': '1',
  'name': '등윤상',
  'email': 'user-qe89s09@ut.io',
  'phone': '010-3542-7711',
  'country': '키리바시',
  'address': '방학로 74-9',
  'job': '일러스트레이터'},
 {'_id': 'b4f7ade0-38bb-4e6f-B94a-18af1426eb30',
  'index': '2',
  'name': '노동규',
  'email': 'user-nyr5mqw@ornare.com',
  'phone': '010-9743-6320',
  'country': '베냉',
  'address': '남부순환로 54-6',
  'job': '애완동물미용사'},
 {'_id': '5d788255-8d5e-4f03-B446-dbac6a147e37',
  'index': '3',
  'name': '경진아',
  'email': 'user-n7pey4v@Etiam.biz',
  'phone': '010-4049-8718',
  'country': '아르메니아',
  'address': '강남대로 87-5',
  'job': '플로리스트'},
 {'_id': '083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79',
  'index': '4',
  'name': '복소유',
  'email': 'user-ohaz2is@nibh.biz',
  'phone': '010-3400-5945',
  'country': '페루',
  'address': '양산로 78-1',
  'job': '응급구조사'},
 {'_id': 'd54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a',
  'index': '5',
  'name': '화예빈',
  'email': 'user-mnkpdlp@vel.net',
  'phone': '010-3120-8720',
  'country': '허드 및 맥도널드 제도',
  'address': '한남대로 6-2',
  'job': '전문의사'}]

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
s += f'''
<tr>
        <td>{db_data[0]["_id"]}</td>
        <td>{db_data[0]["index"]}</td>
        <td>{db_data[0]["name"]}</td>
        <td>{db_data[0]["email"]}</td>
        <td>{db_data[0]["phone"]}</td>
        <td>{db_data[0]["country"]}</td>
        <td>{db_data[0]["address"]}</td>
        <td>{db_data[0]["job"]}</td>
    </tr>
</table>'''
s

'\n<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        border: 1px solid black;\n    }\n    tr, td, th {\n        border: 1px solid black;\n    }\n</style>\n<table>\n    <tr>\n        <th>아이디</th>\n        <th>인덱스</th>\n        <th>이름</th>\n        <th>이메일</th>\n        <th>휴대폰</th>\n        <th>나라</th>\n        <th>주소</th>\n        <th>직업</th>\n    </tr>\n    <tr>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n    </tr>\n</table>\n'

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''

s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [ ]:
f = open('data.csv', 'r')
while True:
    line = f.readline() #readline : 한 라인씩 읽어옴
    if not line:
        break
    print(line, end='')
f.close()

아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업
7f5440ab-7e2f-4a42-Be13-89987fa65b32,1,등윤상,user-qe89s09@ut.io,010-3542-7711,키리바시,방학로 74-9,일러스트레이터
b4f7ade0-38bb-4e6f-B94a-18af1426eb30,2,노동규,user-nyr5mqw@ornare.com,010-9743-6320,베냉,남부순환로 54-6,애완동물미용사
5d788255-8d5e-4f03-B446-dbac6a147e37,3,경진아,user-n7pey4v@Etiam.biz,010-4049-8718,아르메니아,강남대로 87-5,플로리스트
083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79,4,복소유,user-ohaz2is@nibh.biz,010-3400-5945,페루,양산로 78-1,응급구조사
d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a,5,화예빈,user-mnkpdlp@vel.net,010-3120-8720,허드 및 맥도널드 제도,한남대로 6-2,전문의사

In [ ]:
f = open('data.csv', 'r')
data = f.read()
print(data)
f.close()

아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업
7f5440ab-7e2f-4a42-Be13-89987fa65b32,1,등윤상,user-qe89s09@ut.io,010-3542-7711,키리바시,방학로 74-9,일러스트레이터
b4f7ade0-38bb-4e6f-B94a-18af1426eb30,2,노동규,user-nyr5mqw@ornare.com,010-9743-6320,베냉,남부순환로 54-6,애완동물미용사
5d788255-8d5e-4f03-B446-dbac6a147e37,3,경진아,user-n7pey4v@Etiam.biz,010-4049-8718,아르메니아,강남대로 87-5,플로리스트
083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79,4,복소유,user-ohaz2is@nibh.biz,010-3400-5945,페루,양산로 78-1,응급구조사
d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a,5,화예빈,user-mnkpdlp@vel.net,010-3120-8720,허드 및 맥도널드 제도,한남대로 6-2,전문의사

In [ ]:
f = open('data.csv', 'r')
s = '<p>hello world!</p>'
f.write(s)
f.close()

UnsupportedOperation: not writable

# 비트연산

In [ ]:
# 비트 and 연산자 &는 두 비트열의 동일한 위치에 1이 있는 경우에만 1을 반환합니다.

# 10진법
# 1542 => 1 * (10**3) + 5 * (10**2) + 4 * (10 **1) + 2 * (10**0)
# 16진법
# 1542 => 1 * (16**3) + 5 * (16**2) + 4 * (16 **1) + 2 * (16**0)
# 8진법
# 1542 => 1 * (8**3) + 5 * (8**2) + 4 * (8 **1) + 2 * (8**0)

In [ ]:
# 진법 변환

#10진 == 2진
1 == 1
2 == 10
4 == 100
8 == 1000
16 == 10000

# 9는? 8 + 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111

In [ ]:
# 3 & 9
# and 연산
# 0011
# 1001
# ----
# 0001

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-42-d188afd2384f>, line 3)

In [ ]:
# 3 | 9
# or 연산
# 0011
# 1001
# ----
# 1011 -> 11

In [ ]:
3 | 9

11

In [ ]:
매개변수	값
n	5
arr1	[9, 20, 28, 18, 11]
arr2	[30, 1, 21, 17, 28]
출력	["#####","# # #", "### #", "# ##", "#####"]

In [ ]:
bin(9 | 30)[2:]
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

arr1=[9, 20, 28, 18, 11]
arr2=[30, 1, 21, 17, 28]

for i, j in zip(arr1, arr2): # 순회하면서 객체 꺼내서 묶
    print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

#####
# # #
### #
#  ##
#####

In [ ]:
bin(31)

int('0b11111', 2)
int('11111', 2)

31

# f-string

In [ ]:
#print에 들어가는 문자열 만들기
name = '이호준'
age = 10

'제 이름은 %s 이고 제 나이는 %d입니다.'%(name, age) # %용법
'제 이름은 {}이고 제 나이는 {}입니다.'.format(name, age) # format용법
f'제 이름은 {name}이고 제 나이는 {age}입니다.' #f-string용법(권)

'제 이름은 이호준이고 제 나이는 10입니다.'

In [ ]:
# format과 f-string
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 : {0}!!! {0}!!! {1}!!! '.format(삼, 칠))
print(f'삼삼칠 박수 : {삼}!!! {삼}!!! {칠}!!!')

삼삼칠 박수 : 짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 : 짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [ ]:
#소수점 두번째자리까지

one_length = 5.343123123


print(f'{one_length}입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343123123입니다.
5.3 입니다.
5.34
5.34

In [ ]:
#정렬하기

age = 100

print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세') # 가운데 정렬
print(f'당신의 나이는 [{age:<15}]세') # 왼쪽 정렬
print(f'당신의 나이는 [{age:>15}]세') # 오른쪽 정렬
print(f'당신의 나이는 [{age:#^15}]세') # 남는 공간 '#'으로 채우고 가운데정렬
print(f'당신의 나이는 [{age:=^15}]세') # 남는 공간 '='으로 채우고 가운데정렬

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [100            ]세
당신의 나이는 [            100]세
당신의 나이는 [######100######]세
당신의 나이는 [======100======]세

In [ ]:
age = 10
print(f"My set is {{age*1, age*2, age*3}}.")  # 출력: My set is {age*1, age*2, age*3}}.
print(f"My set is {{{age*1, age*2, age*3}}}.")  # 출력: My set is {10}.
# 중괄호 3개로 표현해야 중괄호 표현 + 변수 들어와서 계산됨.

My set is {(10, 20, 30)}.

In [ ]:
#컴프리헨션

l = []

for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i}*{j}={i*j}')

l

In [ ]:
[f'{i}*{j}={i*j}' for i in range(2, 10) for j in range(1, 10)]

# 비동기와 코루틴

1. 비동기
; 비동기 프로그래밍이란 프로그램의 흐름을 블록(block)하지 않고 다른 작업을 계속 진행할 수 있도록 하는 프로그래밍 패러다임입니다. 즉, 하나의 작업이 완료될 때까지 기다리지 않고 다른 작업을 진행

In [ ]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [ ]:
import nest_asyncio

nest_asyncio.apply()

In [ ]:
#동기
import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [ ]:
# colab에서 작동하는 코드
# 기본은 colab에서 작동하지 않습니다.
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 주의! 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main(): #async를 주면 비동기 함수가 됩니다.
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

asyncio.run(main()) #이 함수적용하면 따른 루트로 돌아가고: 비동기
print('hello world')

Job 1 started
Job 2 started
Job 3 started
Job 1 completed
Job 2 completed
Job 3 completed
hello world

In [ ]:
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1)  # 매우 오래 걸리는 작업
    print(f"Job {number} completed")

await job(1)
await job(2)
await job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [ ]:
# 코루틴

def job():
    print('job')

print(job)

<function job at 0x7c1fb97723b0>

In [ ]:
async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않습니다!
#비동기로 실행시켜줘야 실행됨.asyncio.run()

<function job at 0x7c1fb97731c0>

In [ ]:
async def job():
    print('job')

async def main():
    return await job()

print(main()) # <coroutine object main at 0x7fc8cb22bf40>
print(await main()) # None
asyncio.run(main()) # 코루틴 자체를 실행하려면 비동기 실행 함수를 적용해줘야함.

<coroutine object main at 0x7c1fb95e5a10>
job
None
job

<ipython-input-89-6f8b275b5f44>:7: RuntimeWarning: coroutine 'main' was never awaited
  print(main()) # <coroutine object main at 0x7fc8cb22bf40>
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

# 정규표현식 - 별 2개

- 유효성 검증(validator)
- 문자열 처리
- 코딩테스트

In [ ]:
# https://regexr.com/5nvc2

In [ ]:
010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9]



_* : 앞에 있는 문자가 0개 ~ N개
_+ : 앞에 있는 문자가 1개 ~ N개
_? : 앞에 있는 문자가 0개 ~ 1개
010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9]

{3} : 3개
{3,} : 3개 이상
{1,3} : 1개 ~ 3개
010[- .]?[0-9]{4}[- .]?[0-9]{4}

_* : 앞에 있는 문자가 0개 ~ N개 ({0,})
_+ : 앞에 있는 문자가 1개 ~ N개({1,})
_? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

/[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
#전화번호
/[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
/[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
[0-9]{2,3}[-.* ]?[0-9]{3,4}[-.* ]?[0-9]{4}

# 이메일
/[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+

#캐릭터클래스

/\w/gm : 워드
/\w{5} /gm : 5개의 글자와 스페이스 하나
/\W/gm : not 워드
/\d/gm : 숫자
/\D/gm : not 숫자
/\s/gm : 스페이스
/\S/gm : not 스페이스

\d{3}[- .]?\d{3,4}[- .]?\d{4}$

/\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
/\(.*\)/gm : 소괄호 안에 감싸여진 문자열
/\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
/-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
/\^\^/gm : 이스케이프 문자가 필요한 경우
/:\)/gm : 이스케이프 문자가 필요한 경우
\[.*\], \[.*\]

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

# 자주 사용하는 메서드
sub() : 매치된 부분을 치환 (str에 replace와 같은 역활) # 가장 많이 사용.
findall() : 매치된 부분 모두 리스트 반환

In [107]:
# 1S // 2D* // 3T
# 스타상, 아차상 빼고 진행
# 함정!
# 문자열 문자의 함정

l = []
for i in '1S2D*10T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3

sum(l)

6

## findall

In [97]:
import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'))

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [101]:
d = {
    'S' : 1,
    'D' : 2,
    'T' : 3
}
for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*10T'):
    print(int(점수) **d[승수])

1
4
1000

In [108]:
import re

re.findall(r'([rev])(10|[0-9])', 'a10b9r1ce33uab8wc918v2cv11v9')

[('r', '1'), ('e', '3'), ('v', '2'), ('v', '1'), ('v', '9')]

## sub

replace와 같음.

In [110]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120849

"nice to meet you".replace('a', '').replace('e','').replace('i', '').replace('o','').replace('u','')

'nc t mt y'

In [113]:
# 복습 x

s = "nice to meet you"
ch = s.maketrans("aeiou","     ");

print(s.translate(ch))

n c  t  m  t y

In [115]:
# 정규표현식 풀이
import re

def solution(my_string):
    return re.sub(r"[aeiou]","", my_string)

In [116]:
# 모든 문자열 제거하고 숫자를 더해주세요.

import re
def solution(my_string):
    return re.sub(r"[a-zA-Z]", "", my_string)

solution('hello1928ljwlie123slie21e1j3')

'19281232113'

In [117]:
import re
def solution(my_string):
    sum(map(int, list(re.sub(r"[a-zA-Z]", "", my_string))))
    return

solution('hello1928ljwlie123slie21e1j3')

In [118]:
list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3'))
list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))

['1928', '123', '21', '1', '3']

In [119]:
# 숫자가 아닌 것을 추출하세요

import re
my_string = 'aAb1B2cC34o0p'

re.sub('\d','', my_string)

'aAbBcCop'

In [120]:
# 숫자만 추
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [123]:
# 복습 x

import re

print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

010!5000!3000
010/5000/3000
[010][5000][3000]
지역번호: 010 전화번호: 50003000

In [126]:
# 복습 x
# 시니어때는 이런 문법을 사용할 일이 있습니다.

import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!\g<two>!\g<three>', '010-5000-3000'))

010!5000!3000

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'\1', markdown)
    html = re.sub(r'## (.*)', r'\1', html)
    html = re.sub(r'# (.*)', r'\1', html)
    html = re.sub(r'`(.*)`', r'\1', html)
    html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    html = re.sub(r'_(.*)_', r'\1', html)
    html = re.sub(r'~~(.*)~~', r'\1', html)
    html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', markdown)
    # html = re.sub(r'## (.*)', r'\1', html)
    # html = re.sub(r'### (.*)', r'\1', html)
    # html = re.sub(r'`(.*)`', r'\1', html)
    # html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    # html = re.sub(r'_(.*)_', r'\1', html)
    # html = re.sub(r'~~(.*)~~', r'\1', html)
    # html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))