<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0111_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#1, 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.
number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data):
    return 5 < data < 20 and data % 2 == 0

print(sum(filter(solution, number)))

#step 1, 5 < x < 20 인 수 찾기
#step 2, step1 중 짝수 찾기
#step 3, step 2를 모두 더하기

0

In [51]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요.
# 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. 책.할인(10) == 4500의 형태로 만들어주시면 됩니다.

class 책:

    def __init__(self, 책제목, 책_내용_요약, 저자, 발행일, 가격):
        self.책제목 = 책제목
        self.책_내용_요약 = 책_내용_요약
        self.저자 = 저자
        self.발행일 = 발행일
        self.가격 = 가격

    def 할인(self, 할인율):
        self.가격 -= int(self.가격 * 할인율 / 100)
        return self.가격

내_책 = 책(
    'hello world python',
    'hello world...',
    '이호준',
    '2024-01-11',
    5000)

print(내_책.할인(10))

4500

In [72]:
#3, 다음 문제를 풀고 정답을 제출해주세요.
# 3.1 https://100.pyalgo.co.kr/?page=10
'''
라이캣은 연말 출시할 게임의 게임 난이도를 조절하는 업무를 담당하게 되었습니다.
우선 능력치가 비정상적으로 높은 캐릭터들의 리스트를 뽑고자 합니다.
캐릭터 이름, 공격력, 방어력, 체력, 마력이
리스트로 ['Licat', 98, 30, 21, 60]와 같이 주어졌을 때
든 능력치의 합이 350 이상이 되는 캐릭터의 이름을 출력하는 solution함수를 완성해주세요.

[['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
이 입력되었을 때 모든 능력치의 합이 350이 넘는 캐릭터는 'Licat'뿐입니다.
'Licat'은 98 + 92 + 85 + 97 = 372로 350이 넘어갑니다.
 따라서 'Licat'을 리스트에 담아 출력합니다.
 여러명일 경우 알파벳 순으로 정렬하여 출력하여야 합니다.
 '''

등장인물 = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

def solution(data):
    result = []
    for character in data:
        if sum(character[1:]) >= 350:
            result.append(character[0])
    return sorted(result, key = lambda x: x[0])

print(solution(등장인물))

['Licat']

In [74]:
class Character:
    def __init__(self, name, skill, hp, mp, power):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power

    def get_total(self):
        return self.skill + self.hp + self.mp + self.power

등장인물 = [Character('Licat', 98, 92, 85, 97), Character('Mura', 95, 32, 51, 30), Character('Binky', 98, 98, 51, 32)]

def solution(characters):
    result = []
    for character in characters:
        if character.get_total() >= 350:
            result.append(character.name)
    return sorted(result)

print(solution(등장인물))

['Licat']

In [ ]:
#4, 3.2 https://100.pyalgo.co.kr/?page=18