<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0108_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1,
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I') #1번 출력값 - 함수1() 내 출력이어서 제일 먼저 출력
    함수2() # 2번 출력값 함수2()는 함수1() 내 지역함수여서 2번째로 출력
    return "python" #3번 출력값  마지막으로 python이 반환되어서 3번 출력


a = 함수1()
print(a)

I
love
python

In [14]:
#2,함수를 이용하여 계산기 프로그램을 만들어주세요.

def plus(num1, num2):
    return num1 + num2 #num1, num2를 변수로 가지는 plus 함수

def minus(num1, num2):
    return num1 - num2 # num1, num2를 변수로 가지는 minus 함수

def multiply(num1, num2):
    return num1*num2 #num1, num2를 변수로 가지는 multiply 함수

def divide(num1, num2):
    return num1 / num2 # num1,num2를 변수로 가지는 divide 함

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [20]:
#2-1. 2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
#     아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.

def f(a, b):
    x = (a + b) * (a - b)
    return x
print(f(2, 3))

-5

In [35]:
#3, x의 n제곱을 구하는 함수를 만들어주세요.
#재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def f(x, n):
    x != 0
    y = x ** n
    return y

print(f(2, 3))

8

In [131]:
#4, 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
w, q, s = data
x = (q[-2])
x.split(' ')
x[10:]

'licat'

In [171]:
#5, 다음 함수 is_palindrome를 완성하시오.
#이 함수는 하나의 문자열을 인자로 받아,
#해당 문자열이 앞으로 읽으나 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(a):
    a = input()

    if a == a[::-1]:
        return True
    else:
        return False
print(is_palindrome(a))

apple
False

In [210]:
# 6. 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [num for num in numbers if num % 2 != 0] #리스트 컴프리헨

print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [220]:
#7, 이 코드는 복잡한 데이터 구조를 실행하는 예제입니다. 리스트의 첫 번째 요소[2,3,4,5,6]를 기준으로 오름차순 정렬을 수행합니다.
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello w', 31],
    [6, 'hello w', 39]
]

# 1번째 문제: 첫 번째 요소의 값을 정렬하세요.
sorted(data, reverse = False)

# 2번째 문제: 두 번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x:len(x[1]))
# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같습니다. 다만 숫자 값으로 반환하는 것이 아니라 object로 반환하죠.'

# 3번째 문제: 세 번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제: 첫번째 요소와 세 번째 요소의 차가 큰 순으로 출력해주세요.
# 예를 들어 [2, 'hello world', 30]의 경우 30 - 2 == 28입니다. 이런 차 순서대로 출력하시면 됩니다.
sorted(data, key=lambda x:x[0]-x[2])
sorted(data, key=lambda x:x[2]-x[0], reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

In [222]:
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# 출력 : [(3, 4), (1, 3), (4, 8), (13, 17), (17, 20), (8, 13)]

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [241]:
#99. 실전 문제

'''
아래 문제를 풀어보세요!
'숫자' 배열을 '승수' 배열과 짝지어서 승수만큼 제곱을 시켜줄 것 입니다.
답은 하단에 있으니 꼭 문제를 풀어보시고 확인해주세요:)
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
'''

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
list(zip(숫자, 승수))

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

In [252]:
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.

숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
list(map(lambda x:x[0] ** x[1], zip(숫자, 승수)))

[1, 4, 9, 64, 125]

In [265]:
#3. 승수한 값이 100이상인 값을 출력하세요.

숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

def select():
    결과 = list(map(lambda x: x[0] ** x[1], zip(숫자, 승수)))
    선택된_값 = [값 for 값 in 결과 if 값 >= 100]
    return 선택된_값

print(select())

[125]

In [267]:
#4. 승수한 값을 모두 더하세요.
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

결과 = list(map(lambda x: x[0] ** x[1], zip(숫자, 승수)))
총계 = sum(결과)

print(총계)

203