<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0103_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. python에서의 형변환

In [5]:
#1. 형변환 기본 예제
# 문자형>숫자형으로 바꾸지 못함
#input으로 받은 데이터는 = str
#잘못된 예시

월급 = input('월급을 입력하세요:')
연봉 = 월급 *12
print(연봉)

월급을 입력하세요:6000000
600000060000006000000600000060000006000000600000060000006000000600000060000006000000

In [6]:
#올바른 예시

월급 = input('월급을 입력하세요:')
연봉 = int(월급) *12
print(연봉)

월급을 입력하세요:6000000
72000000

In [9]:
#1.2 소수형 -> 정수형

f = 3.14159
number = int(f)     #int로 변환하기 위해 어디에 int를 먹여야 하는지.
print(number) #출력 = 3

3

In [12]:
#1.3 불린 -> 정수형

true_int = int(True)
false_int = int(False)

print(type(true_int))
print(type(false_int))
print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

<class 'int'>
<class 'int'>
1
0

In [15]:
#1.4 None은 변형이 안된다.
None
print(None)
print(int(None))

None

TypeError: ignored

In [21]:
#1.5 str 형변환

n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [22]:
#1.6 bool형변환
# 조건문에서 많이 사용
# 빈자료형 = false
  #> None
# 공백 = true = 값이 존재
# false = __빈 문자열, 빈 리스트, 0, None__

print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

SyntaxError: ignored

In [24]:
#1.7 float형변환

s = 10
print(float(s)) #정수의 값>실수형변환

s = '10'
print(float(s)) # 문자열 안에 정수로 입력된 값>실수형변환

s = '3.14'
print(float(s)) # 문자열 안에 실수>실수형변환

10.0
10.0
3.14

In [27]:
#무한대
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

In [32]:
print(infinity)
print(neg_infinity)
print(not_a_number)

10 / 1 # 항상 실수형

inf
-inf
nan

10.0

1. 정수형은 list로 변환 불가
2. tuple형은 값의 변경이 불가
3. dic형은 쌍으로 존재,쌍이 없는 일반 문자열은 변환 불가
3. set형은 중복제거, 순서가 바뀜
5. 실수형->문자형: 정수만 출력

In [35]:
x = 1.0
x = str(x)
int(float(x))

1

In [38]:
# map

list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]