<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0104_%EC%97%B0%EC%82%B0(%EA%B3%84%EC%86%8D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 논리연산자 (Logical Operators)
- True or False

- 여러 조건 함께 평가-> 하나의 bool 값으로 반환
 ex) 불 값에 대한 연산 /  int, float, str, list, tuple, dict 등 다른 오브젝트가 들어간 연산

1. and ; 두가지 참 - > True
2. or ; 둘 중 하나 참 - > True
3. not ; 무조건 반대값 반환
**값이 같아도 id가 달라서 false 나올 수 있음

In [3]:
#1.1 논리연산자 예시

for i in range(101):
      if i % 3 == 0 and i % 5 == 0:
          print(i)

0
15
30
45
60
75
90

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.
* 휴면고객에 대해서 데이터를 받아서 가망고객

> 휴면고객 100,000(DB)
> 1차. 20~40만 먼저 거르기 - > 4만명(-6만명)
> 2차. 10마원 이하로 사용한 고객 거르기 - > 2만명(-2만명)
> 3차. 3번 이하로 구매한 고객 - >1만명(-1만명)

In [4]:
#1.1 논리연산자 예시 2
def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True
# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.
result = test1() and test2()
print(result)

test1 함수 호출!
False

In [9]:
0 and 1

0

In [11]:
bool(0 and 1)

False

In [12]:
print(0 and 1)

0

# 2. 할당 연산자 ; not priority

- 기본적인 할당 연산자는 '='
- 우선순위는 대부분의 다른 연산자들보다 낮다!!

In [13]:
#2.1 할당 연산자 실습
#복리, 금리 계산할 때 활용할 수 있는 연산

x = 5
y = 2
z = 10

x1 = y*z #결과 : 20
x2 = x + y * z # 결과 : 25
x += y * z  # y * z 연산 후 x에 값을 더한 뒤에 할당합니다.
print(x1)
print(x2)
print(x)

20
25
25

#3. 식별연산(is 구문, id) ;주소를 비교

1. is;
- 두 변수가 같은 곳에 저장된 정보를 바라보고 있다면 ‘맞다’(True)를 알려줍니다. 다른 곳을 바라보고 있다면 ‘아니다’(False)를 알려줍니다.
2. is not;
- 두 변수가 같은 곳에 저장된 정보를 바라보고 있다면 '아니다(False)'를 알려줍니다. 다른 곳을 바라보고 있다면 '맞다(True)'를 알려줍니다.

* __식별연산시 문자열, 숫자열, 공백 유의!!__

In [14]:
# 동일 인물 확인(겸업 금지 조항)
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [16]:
# -5~256 같은 주소, 그 범위 이상은 주소가 다름
coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

False
True

In [19]:
# -5~256 같은 주소, 그 범위 이상은 주소가 다름
coffee_employee = 1000
orange_employee = 1000

print(coffee_employee is orange_employee) #id 까지 비교
print(coffee_employee == orange_employee) #값이 같은 지 비교

False
True

In [22]:
# id주소가 다름
print(id(coffee_employee))
print(id(orange_employee))

137621552256304
137621552260912

In [24]:
# 예시
a = [1, 2, 3] #리스트형 [1,2,3]
b = [1, 2, 3] #리스트형 [1,2,3]
c = a # a 값을 재 할당

In [25]:
print(a,b,c)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [27]:
# 결과
print('a == b', a == b) # a == b true
print('a == c', a == c) # a == c true
print('a is b', a is b) # a is b false # id가 다
print('a is c', a is c) # a is c true

print(id(a), id(b), id(c))

a == b True
a == c True
a is b False
a is c True
137622039396480 137622442168384 137622039396480

In [30]:
a = [1, 2, 3]
b = a
print(a is b)

True

#4. 멤버연산 (in 구문)
;멤버 연산 in은 어떤 값이 목록 안에 있는지 확인

- in
; 값이 목록 안에 있으면 참(True)이에요.
- not in
; 값이 목록 안에 없으면 참(True)이에요.
- 자료형태를 잘 파악하여 사용해야 함!

* is / is not
* in / not in
**순서 주의**

In [39]:
# 예시 1
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'
print([1] in a) #리스트 안에 리스트형 [1]이 있냐는 질문
print(1 in a) #리스트 안에 정수형 1이 있냐는 질문

False
True

In [40]:
#리스트형의 특수성!
#자료형태를 잘 파악해야함.
a_1 = [1, [2], 3, 4]
#리스트 안에 있는 값은 정수형 : 1, 3, 4 / 리스트형 [2]

In [43]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'
print(1 in a and b) #1 in a가 참이므로 b를 산출함
print(1 in a and 1 in b) #and 앞 뒤가 참이므로 참 산

[1, 2, 3, 4]
True

In [44]:
# 결과
print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True

In [46]:
#set에서는 요소만, dict에서는 key값만 확인 가능

a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
# {'key1':'value1'} in a # error

False

# 연산과 연산자 우선순위

**연산자 우선순위**는 여러 연산자가 하나의 표현식(expression) 내에 있을 때 어떤 연산자가 먼저 계산되는지를 결정합니다.

연산자의 우선순위는 수학에서의 연산 순서와 유사합니다. 예를 들면, 곱셈과 나눗셈은 덧셈이나 뺄셈보다 우선적으로 수행됩니다

In [48]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [50]:
True * True and True + False

1

In [52]:
(True * True) and (True + False)

1

In [54]:
a = 10
a *= 10 + 100
a # 출력: 1100

1100

In [56]:
# 퀴즈 답 확인
greeting = "안녕하세요"
print("안녕" in greeting) #부분 문자열로 가지고 있으므로 true/멤버 연산 in은 어떤 값이 목록 안에 있는지 확인

True