<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0105_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%99%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리

- { ' ' : ' '}
* 3.6 버전 이상은 순서가 보장됩니다.
* 실무에서 사용하는 python 버전은 생각보다 낮다
* 'key: value' 쌍으로 이뤄져 있습니다.
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리는 주의를 요함 -> key가 없는 것을 호출 = error

In [3]:
d = {'one': '하나', 'two': '둘'}

d['one'] #인덱스 자리에 key를 입력한다.

'하나'

In [5]:
d['three'] #없는 key 이므로 error

KeyError: 'three'

In [7]:
d.get('three') # get 메서드를 사용하시길 권함 #key 없어도 error 안남

In [9]:
d.get('three', '없는 값입니다!')

'없는 값입니다!'

In [14]:
def f(x):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
    }.get(x, '요일없음')

f(3)

'수요일'

In [19]:
# matech 문법이 나오기 전까지 많이 사용했었습니다.
# 지금도 많이 사용하는 문법입니다.
# match 문법은 이런 문법이 있는지 모르시는 시니어 분들도 많음
x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

'수요일'

In [21]:
!python --version

Python 3.10.12

In [ ]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄 이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재밌네요. 신기합니다!!',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [24]:
type(d)
dir(d)

'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

'values'

In [30]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [35]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

print(dd is d)
d, dd

False

({'one': 'python', 'two': 'html'}, {'one': '하나', 'two': '둘'})

In [38]:
#자주 사용하지 않음

d = ('one', 'two', 'three')
dict.fromkeys(d) #결과 none
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [42]:
# 매우 자주 사용함. 권고함
d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three', '값없음!')

'값없음!'

In [45]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [47]:
d = {'one': '하나', 'two': '둘'}
d.items()[0] #error
d.items()[1:] #error

TypeError: 'dict_items' object is not subscriptable

In [50]:
a, b = d.items()
a, b #언팩킹; 감싸여진 것을 벗긴다.
a

('one', '하나')

In [51]:
a, b = [10, 20]
a

10

In [53]:
#keep해두기, 반복문 안배움

for i, j in d.items()
    print(i, j)

SyntaxError: expected ':' (<ipython-input-53-70216b09589a>, line 3)

In [57]:
d.keys() #결과값이 튜플형이 아니고 딕셔너리 자료형인데 표현형이 같을뿐.
d.values()

dict_values(['하나', '둘'])

In [63]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three') #없는 값 입력하면 값이 생성됨
d.setdefault('four', 4) #있으면 그 값을 출력하고, 없으면 그 값을 d 에 삽입하고 4을 입력해줘
d

{'one': '하나', 'two': '둘', 'three': None, 'four': 4}

In [66]:
d = {'one': '하나', 'two': '둘'}
d.pop() # error
d.pop('three') #error
d

TypeError: pop expected at least 1 argument, got 0

In [68]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실 겁니다.

('two', '둘')

In [71]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'})#one은 수정이 됐고, three는 생성이 되었음.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [78]:
# 신규문법!!!(ver.3.9)
d = {'one': '하나', 'two': '둘'}
dd= {'three': '셋'}

# d+dd
d | dd

{'one': '하나', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형
* 순서가 없는 자료형(특정값까지만 보존)
* 집합(합집합, 차집합, 교집합)
* 알고리즘때 많이 사용

In [81]:
# 셋은 중복 제거하는 데 사용(차집합)
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s | ss # error  # | 파이프 'shift + \'

s | ss # 합집합 union
s - ss # 차집합 difference
 # 교집합 intersection

{3, 4, 5}

In [83]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [85]:
s.difference(ss) # 차집합 s - ss

{1, 2, 10}

In [87]:
s.intersection(ss) # 교집합 s & ss

{3, 4, 5}

In [90]:
s.union(ss) # 합집합 s | ss

{1, 2, 3, 4, 5, 6, 7, 10}

In [106]:
s = set('123123123')
s
sum([1, 2, 3])

6

In [108]:
sum({10, 20, 30})

60

In [110]:
# map 은 너무나 중요해서 반복할 예정
# 중복 제거한 값을 더하는 용도로 아래와 같이 사용하는 코드

sum(map(int, set('123123')))

6

In [112]:
#sum 각 요소를 더하는 것
sum({10, 20, 30})

60

In [114]:
sum(10, 20, 30) # error

TypeError: sum() takes at most 2 arguments (3 given)

In [116]:
sum([10, 20],[10, 20],[10, 20], 30) # error

TypeError: sum() takes at most 2 arguments (4 given)

In [118]:
# sum(순회가능한 객체, 초깃값)

sum([10, 20, 30], 100)

160

In [123]:
sum([[10, 20],[30, 40],[50, 60]],[]) # 평탄화 작업
[] + [10, 20] == [10, 20] # 빈 곳에 리스트 더하기
[10, 20] + [30, 40] == [10, 20, 30, 40] #리스트 더하기 +

True

In [126]:
sum(sum([[10, 20],[30, 40], [50, 60]],[]))

210

in

In [128]:
'h' in 'hello'

True

In [130]:
# in은 단순 값비교, 주소 비교아님(is)
x = 10
x in [10, 20, 30, 40, 50]

True

In [132]:
s = {1, 2, 3}
1 in s

True

In [134]:
s = {1, 2, 3}
1 not in s

False

In [136]:
and, or, not 단락평가

SyntaxError: invalid syntax (<ipython-input-136-e8946ba6ee52>, line 1)

In [138]:
1 and 100

100

In [140]:
user_id = 'lee'

user_id = user_id or '아이디 없음'
user_id

'lee'

In [142]:
false and 1/0

NameError: name 'false' is not defined