<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0105_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EA%B8%B0%EC%B4%88%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#회색 줄은 영문자 80자, 한글은 32자
#PEP8, PEP 20

#해결책1: 역슬러시 넣는 방법(권고하지 않음, 이스케이프 문자랑 혼동)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \orldhello worldhello worldhello world')

#해결책2 : '' '' 사이를 공백으로 잇기(엔터치기)
print('hello world' 'helloworld')
print('hello world'
      'hello world')


#질문: 메서드 체인으로 길어지면?
#답: 메서드 체인 80자 이상 -> 이미 가독성 문제
# 메서드 체이닝 3개 이상은 권하지 않음

#허용함
'hello world'.upper()     .split(' ')    .pop()    .lower()

#허용하지 않음(\n치고 줄바꿈한 코드)

#문제 있는 코드
'hello world'.upper().split(' ').pop().lower

#문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

#문자열 메서드
dir('hello world') #메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

#문제1, find() , index()의 차이
#find 오류시 -1(-1은 true 결과값)
#index 오류시 error
#실무에서 사용하는 코드 : 둘 다 많이 사용

#문제2, isdigit? 전부 숫자인지 판단
'123'.isdigit()
'12h3'.isdigit()

#문제3, replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi') #모두 다 변환이 됩니다. 몇 개만 변환되지 않음.
#알아둬야할 사항: replace는 정규표현식이 안된다. replace 정규표현식으로 사용하고 싶으면 re.sub사용해야함.

#문제4 strip(공백제거)

#문제5 zfill(앞에 0으로 원하는 자릿수만큼 채우기)

hello worldhello worldhello worldhello worldhello worldhello worldhello \orldhello worldhello worldhello world
hello worldhelloworld
hello worldhello world

'hi world hi world'

#리스트

- 변경이 가능한 자료형
- 순서가 있는 자료형(시퀀스 자료형, 인덱싱, 슬라이싱)

In [15]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

#-5~256까지 id는 같음
a = 10
b = a

print(id(a))
print(id(b))

a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)

a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

10
10
132686589133328
132686589133328
132686589133328
132686589133328
True
132685541228592
132685541228688
False

In [12]:
l = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하길 권함
# 권고1
l = [10,
     20,
     30] #줄바꿔서 입력하기 가능

# 권고2 (실무에서 더 자주 사용하는 방)
l = [
    10,
    20,
    30,
]
# 문제가 있습니다. 통신을 할 때에는 JSON이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않습니다.

# 왜 문제가 있는 권고2번이 더 많이 사용되는가?
# 실무에서는 콤마를 버전업으로 인식하 경우도 많고,
# 콤마를 빼먹는 경우가 많다.
# 편의성: Ctrl + C, Ctrl + V하기 편해서
# formatter : 자동 변환 SW 사용 -> (python black formatter) => 권고!!!

In [34]:
l = [10, 20, 30, 40]
l[2]
l[-2:] #마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다.
l[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

type(l), dir(l)
# type은 검색 키워드, gpt질문키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [38]:
# __add__가 있으니 더하기는 어디까지 될까 => 테스트
# __mul__이 있으니 더하기는 어디까지 될까 => 테스트

l = [10, 20, 30]
# l + 100 # 정수 더하기는 안됩니다!
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 됩니다.
# l * [1, 2] #리스트 곱하기는 안됨

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [40]:
l = [1, 2, 3] * 3
l[1] = 1000
l

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [44]:
# 리스트는 곱하기 매우매우 주의!
# 곱하기가 2중으로 있을 때에는 나중에 배울 "리스트컴프리헨션" tkdyd
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [45]:
l[1][1] = 10000
l

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

# str은 안됩니다.
s = 'hello world'
ss = s.replace('h', 'y')
print(ss)
s = 'y' + s[1:]

In [ ]:
a = 10
aa = 10
print(a)
print(aa)
print(a)

In [46]:
s = s.replace('h', 'y')
s ='y' + s[1:]
print(s)

yello world

In [48]:
# 암기해주세요.

x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스 (행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] # 텐서(3차원 이상 행)

In [49]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [53]:
x = [[1, 2], [3, 4], [5, 6]]
x[1]
x[1][1]

4

In [58]:
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [62]:
x = 10

print(x)
x

x = '10'
print(x) #__str__
x # __repr__

#프린트와 그냥 변수출력은 다르다.

10
132686589133328
10

'10'

In [ ]:
# 리스트 메서드
l = [10, 20, 30]
dir(l)

# 공백제거
# shift + Tap
# Ctrl + [ 또는 ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

# python - list - method - append

In [65]:
l.append(100)
l

[10, 20, 30, 100, 100]

In [73]:
# 앞에 추가 하는 방법 1
l = [1000] + l

# 앞에 추가 하는 방법 2
x = 10000
l = [x] + l[:]


# 앞에 추가 하는 방법 3
l.insert(0, 999)
l

[999,
 10000,
 1000,
 999,
 10000,
 1000,
 999,
 10000,
 1000,
 999,
 10000,
 1000,
 999,
 10000,
 1000,
 10000,
 1000,
 10000,
 1000,
 1000,
 10,
 20,
 30,
 100,
 100]

In [75]:
#pop() ; 뒤에서 값을 꺼내는 방법
l = [10, 20, 30,40]
l.pop()
l

[10, 20, 30]

In [77]:
# pop(0) ; 앞에서 값을 꺼내는 방법
l = [10, 20, 30, 40]
l.pop(0) #결과: 10
l

[20, 30, 40]

In [81]:
l = [10, 20, 30, 40]
l[:-1] # [10, 20, 30]
l[1:] #[20, 30, 40]

[20, 30, 40]

In [83]:
l = [10, 20, 30, 40]
l.index(100)

ValueError: 100 is not in list

In [86]:
# 암기하세요
# index -> error => error 없이 코드를 짜고 싶다면?
# str에 find처럼 코드를 짜고 싶을 때?
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 error가 나지 않는다!

l = [10, 20, 30, 40]
l[100:101]

[]

In [88]:
# 다 제거하고 싶을 때 clear
l = [10, 20, 30, 40]
l.clear()
l

[]

In [96]:
l = [10, 20, 30, 40]
ll = l

l[0]=1000
print(id(l), id(ll))
print(ll)

132685541227776 132685541227776
[1000, 20, 30, 40]

In [101]:
l = [10, 20, 30, 40]
ll = l.copy() #얕은 복사와 깊은 복사가 있음. 개념은 나중에...

l[0] = 1000
ll
print(l is ll)
id(l), id(ll) #id 가 달라짐

False

(132686376876800, 132685321174080)

In [104]:
l = [10, 20, 30, 40]
ll = l[:] #얕은 복사와 깊은 복사가 있음. 개념은 나중에...

l[0] = 1000
ll
print(l is ll)
print(l, ll) # 다른
id(l), id(ll) #id 가 달라짐

False
[1000, 20, 30, 40] [10, 20, 30, 40]

(132685320080000, 132685318309312)

In [107]:
l = ['1', '1', 1, 2, 2, 2, 3, 3]
l.count(1) #숫자를 카운트

1

In [112]:

str([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]).count('1')
# str(1부터_10000까지_리스트).count('8')
list(range(10))
str(list(range(20))).count('8')
'''
count_8 = sum(str(number).count('8') for number in range(1, 10001))
count_8
'''

"\ncount_8 = sum(str(number).count('8') for number in range(1, 10001))\ncount_8\n"

In [114]:
str(list(range(20))).count('8')

2

In [117]:
# 요소 추가
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [120]:
#객체 개별추가
l = [10, 20, 30, 40]
l.append([50, 60]) # 이렇게 많이 사용, 기억하시오.
l

[10, 20, 30, 40, [50, 60]]

In [123]:
l = [10, 20, 30, 40]
l.extend('hello') #extend(보통리스트), extend(순회가능한 객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [134]:
l= [1, 1, 1, 2, 2, 2, 3, 3]
l.remove(1) #한가지 요소를 지울 때 사용
l

[1, 1, 2, 2, 2, 3, 3]

In [142]:
# filter
# 모든 요소를 filtering 하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다.

def f(x):
    return x != 1
l = [1, 1, 1, 2, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 2, 3, 3, 3]

In [144]:
# reverse는 원본이 변함.(입력된 원본은 대부분 보존하려 합니다.)
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l #역순임. 역정렬은 아닙니다.

# 역정렬은 정렬의 역순입니다.
# 역순은 단순히 순서를 뒤집는 것

[7, 6, 5, 9, 4, 3, 2, 1]

In [148]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) #reversed는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [150]:
# 정렬시키기 sort
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 9]

In [153]:
#
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l #원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [155]:
# sorted
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l) #원본을 변경하지 않습니다.

[1, 2, 3, 4, 5, 6, 7, 9]

In [156]:
# sort, sorted, reverse, reversed 알고리즘 문제에서도 1문제는 거의 나온다고 보시면 됩니다.
# 최솟값, 최댓값 등등 정렬 문제

In [159]:
# 옵션값
# 어떻게 사용되는지만 구경
# 국, 영, 수, 이름
s = [[100, 87, 91,'이호준'],[56,38,89,'이준호'],[33,86,100,'홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [164]:
s = [[100, 87, 91,'이호준'],[56,38,89,'이준호'],[33,86,100,'홍길동']]

def f(x):
    return x[0] + x[1] + x[2] #평균점수가 높은 순으로 정렬 ->여기서 평균으로 나누기위해 3으로 나누지 않아도 됨(합계가 높으면 평균이 높으니)

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]