<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/0109_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
- 코드 실행 날짜:20240109
- 버전: V0.1
- 작성자 : 이은희
- 코드내용: 함수_반복
'''


#1. 반복문

##1.1 for 문
; 특정 범위, 순서열(리스트, 문자열 등) 순회
- 순서열의 끝에 도달하면 반복중지
- 하나식 추출하며 순회

In [2]:
# 함수
def 함수명():
    pass

In [ ]:
# 조건문
if 조건:
    pass

In [4]:
test = 'hello'

In [6]:
print(test[0])

h

In [9]:
print(test[0:2])

he

In [10]:
# 1. 반복문의 기본구조

for 변수명 in 순회_가능한_객체 :
    pass # 수행할_문장

NameError: name '순회_가능한_객체' is not defined

In [12]:
# 반복문 기초 - 문자열
#1. 'hello'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하나씩 for문 아래 코드블럭을 수행한다.
#4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.

for x in 'hello': # 순회 가능한 객체(문자열 / 리스트 / 다른 데이터셋 / range(10) / 기타 등등)
    print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [14]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [16]:
for x in ([1, 2, 3, 4, 5]):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [17]:
for x in range(1,100,3):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 4 입니다.
현재 값은 7 입니다.
현재 값은 10 입니다.
현재 값은 13 입니다.
현재 값은 16 입니다.
현재 값은 19 입니다.
현재 값은 22 입니다.
현재 값은 25 입니다.
현재 값은 28 입니다.
현재 값은 31 입니다.
현재 값은 34 입니다.
현재 값은 37 입니다.
현재 값은 40 입니다.
현재 값은 43 입니다.
현재 값은 46 입니다.
현재 값은 49 입니다.
현재 값은 52 입니다.
현재 값은 55 입니다.
현재 값은 58 입니다.
현재 값은 61 입니다.
현재 값은 64 입니다.
현재 값은 67 입니다.
현재 값은 70 입니다.
현재 값은 73 입니다.
현재 값은 76 입니다.
현재 값은 79 입니다.
현재 값은 82 입니다.
현재 값은 85 입니다.
현재 값은 88 입니다.
현재 값은 91 입니다.
현재 값은 94 입니다.
현재 값은 97 입니다.

In [19]:
len(range(1,100,3)) #for문의 길이

33

In [21]:
# 문자열 자료형을 범위로 가져 왔을때
# 공백도 하나의 자료이다.
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [24]:
s = '123'
result = 0
for i in s:
    result += int(i)

In [27]:
s = '123'
result = 0
for i in '123':
    result += int(i)

In [25]:
print(result)

6

In [30]:
#딕셔너리 자료형

단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three'
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [32]:
for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나 : one
둘 : two
셋 : three

In [33]:
# 1.5. range를 범위로 지정한 예시

for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
result = 0
for i in range(0, 11, 2):
    result += i
result # 결과: 30

30

In [37]:
#0부터 100까지 더하기
result = 0
for i in range(101):
    result += i
result

5050

In [40]:
n = 100
result = (n + 1) * n / 2
int(result)

5050

In [51]:
# 0부터 100까지 짝수만 더하기
# 리스트라면 비어있는리스트라도 만들어야한다. result = []
# 비어있는 자료형도 자료형이다
# None도 자료형이다.
result = 0
for i in range(101): #0~100까지 시퀀스 자료형 불러오기.
    if i % 2 == 0: # 0~100까지 숫자 중 2로 나눠서 나머지가 0인 변수라면
        result += i # result에 가져와서 누적해서 더한다.
        print(i)
print(result) #출력한다.

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
2550

In [52]:
# 0부터 100까지 홀수만 더하기

result = 0
for i in range(101): #0~100까지 시퀀스 자료형 불러오기.
    if i % 2 == 1: # 0~100까지 숫자 중 2로 나눠서 나머지가 0인 변수라면
        result += i # result에 가져와서 누적해서 더한다.
        print(i)
print(result) #출력한다

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
2500

In [53]:
#0~100까지 짝수가져와서 더하기
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

#1.2 중첩 for 문

In [ ]:
[
    [1, 2],
     [10, 20],
      [100, 200]
]

In [67]:
# 리스트 안에 있는 또다른 값을 출력하기 위해서
#  첫번째 반복에서 내부 리스트를 출력하고 두번째 반복에서 출력한 내부리스트의 요소를 출력합니다
for i in [[1, 2], [10, 20], [100, 200]]: #[[1, 2], [10, 20], [100, 200]]를  순서대로 i에 불러오기
    for j in i: # i에 들어온 값을 j에 불러오기
        print(j) #j에 반환된 값을 출력하기

1
2
10
20
100
200

In [68]:
#1. 방금처럼 구조를 정한다.
#2. 최소한의 반복문만 수행해본다.
#3. 각 반복문을 print()해본다.

In [71]:
#구구단
for i in range(2, 10): #2~9까지를 순서대로 i에 불러오기
    print(f'---{i}단---') #i에 2~9까지 차례대로 대입되어 'i'단으로 출력
    for j in range(1, 10): #1~9까지 순서대로 j에 불러오기
        print(f'{i} X {j} = {i * j}') # 불러온 i와 j를 곱하여 나온 값을 반환하여 출력

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [74]:
#19단 구구단
for i in range(2, 20): #2~9까지를 순서대로 i에 불러오기
    print(i)
    print(f'---{i}단---') #i에 2~9까지 차례대로 대입되어 'i'단으로 출력

    for j in range(1, 10): #1~9까지 순서대로 j에 불러오기
        print(j)
        print(f'{i} X {j} = {i * j}') # 불러온 i와 j를 곱하여 나온 값을 반환하여 출력

2
---2단---
1
2 X 1 = 2
2
2 X 2 = 4
3
2 X 3 = 6
4
2 X 4 = 8
5
2 X 5 = 10
6
2 X 6 = 12
7
2 X 7 = 14
8
2 X 8 = 16
9
2 X 9 = 18
3
---3단---
1
3 X 1 = 3
2
3 X 2 = 6
3
3 X 3 = 9
4
3 X 4 = 12
5
3 X 5 = 15
6
3 X 6 = 18
7
3 X 7 = 21
8
3 X 8 = 24
9
3 X 9 = 27
4
---4단---
1
4 X 1 = 4
2
4 X 2 = 8
3
4 X 3 = 12
4
4 X 4 = 16
5
4 X 5 = 20
6
4 X 6 = 24
7
4 X 7 = 28
8
4 X 8 = 32
9
4 X 9 = 36
5
---5단---
1
5 X 1 = 5
2
5 X 2 = 10
3
5 X 3 = 15
4
5 X 4 = 20
5
5 X 5 = 25
6
5 X 6 = 30
7
5 X 7 = 35
8
5 X 8 = 40
9
5 X 9 = 45
6
---6단---
1
6 X 1 = 6
2
6 X 2 = 12
3
6 X 3 = 18
4
6 X 4 = 24
5
6 X 5 = 30
6
6 X 6 = 36
7
6 X 7 = 42
8
6 X 8 = 48
9
6 X 9 = 54
7
---7단---
1
7 X 1 = 7
2
7 X 2 = 14
3
7 X 3 = 21
4
7 X 4 = 28
5
7 X 5 = 35
6
7 X 6 = 42
7
7 X 7 = 49
8
7 X 8 = 56
9
7 X 9 = 63
8
---8단---
1
8 X 1 = 8
2
8 X 2 = 16
3
8 X 3 = 24
4
8 X 4 = 32
5
8 X 5 = 40
6
8 X 6 = 48
7
8 X 7 = 56
8
8 X 8 = 64
9
8 X 9 = 72
9
---9단---
1
9 X 1 = 9
2
9 X 2 = 18
3
9 X 3 = 27
4
9 X 4 = 36
5
9 X 5 = 45
6
9 X 6 = 54
7
9 X 7 = 63
8
9 X 8 = 72
9
9 X 9 = 81
10
---10단---
1
10 X 1 = 10
2
10 X 2 = 20
3
10 X 3 = 30
4
10 X 4 = 40
5
10 X 5 = 50
6
10 X 6 = 60
7
10 X 7 = 70
8
10 X 8 = 80
9
10 X 9 = 90
11
---11단---
1
11 X 1 = 11
2
11 X 2 = 22
3
11 X 3 = 33
4
11 X 4 = 44
5
11 X 5 = 55
6
11 X 6 = 66
7
11 X 7 = 77
8
11 X 8 = 88
9
11 X 9 = 99
12
---12단---
1
12 X 1 = 12
2
12 X 2 = 24
3
12 X 3 = 36
4
12 X 4 = 48
5
12 X 5 = 60
6
12 X 6 = 72
7
12 X 7 = 84
8
12 X 8 = 96
9
12 X 9 = 108
13
---13단---
1
13 X 1 = 13
2
13 X 2 = 26
3
13 X 3 = 39
4
13 X 4 = 52
5
13 X 5 = 65
6
13 X 6 = 78
7
13 X 7 = 91
8
13 X 8 = 104
9
13 X 9 = 117
14
---14단---
1
14 X 1 = 14
2
14 X 2 = 28
3
14 X 3 = 42
4
14 X 4 = 56
5
14 X 5 = 70
6
14 X 6 = 84
7
14 X 7 = 98
8
14 X 8 = 112
9
14 X 9 = 126
15
---15단---
1
15 X 1 = 15
2
15 X 2 = 30
3
15 X 3 = 45
4
15 X 4 = 60
5
15 X 5 = 75
6
15 X 6 = 90
7
15 X 7 = 105
8
15 X 8 = 120
9
15 X 9 = 135
16
---16단---
1
16 X 1 = 16
2
16 X 2 = 32
3
16 X 3 = 48
4
16 X 4 = 64
5
16 X 5 = 80
6
16 X 6 = 96
7
16 X 7 = 112
8
16 X 8 = 128
9
16 X 9 = 144
17
---17단---
1
17 X 1 = 17
2
17 X 2 = 34
3
17 X 3 = 51
4
17 X 4 = 68
5
17 X 5 = 85
6
17 X 6 = 102
7
17 X 7 = 119
8
17 X 8 = 136
9
17 X 9 = 153
18
---18단---
1
18 X 1 = 18
2
18 X 2 = 36
3
18 X 3 = 54
4
18 X 4 = 72
5
18 X 5 = 90
6
18 X 6 = 108
7
18 X 7 = 126
8
18 X 8 = 144
9
18 X 9 = 162
19
---19단---
1
19 X 1 = 19
2
19 X 2 = 38
3
19 X 3 = 57
4
19 X 4 = 76
5
19 X 5 = 95
6
19 X 6 = 114
7
19 X 7 = 133
8
19 X 8 = 152
9
19 X 9 = 171

# 3. 컴프리헨션(comprehension)
; 간결하게 리스트 생성

In [77]:
#기존 반복문
x = []

for i in range(1, 10): #1~9까지
    x.append(i) #append(리스트에 값 추가)

print(x) # 결과 출력

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
# step 1, list안에 for문을 가져온다.
[for i in range(1, 10)] #for문으로 시작하는 조건을 가져오고 리스트로 묶는다.

# step 2, append 항목을 앞으로 가져옵니다. - i 자동으로 append
a = [i for i in range(1,10)] # 1~9까지 i에 순서대로 불러와서 a에 저장
b = [i*2 for i in range(1,10)] #1~9까지 i에 순서대로 불러와서 i*2실행하여 b에 저장
print(a,b)

SyntaxError: invalid syntax (<ipython-input-80-6df5dd4bd898>, line 2)

In [82]:
# 리스트 컴프리헨션 + whrjsans
#홀수 출력
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)
#짝수출
l = [i for i in range(1, 100) if i % 2 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [83]:
# 한 줄에 79자 넘을때 가독성 낮음
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [85]:
#가독성을 위해 for 문에 if문 넣어서 간결하게. 가독성 올리
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

##3.1.3. 중첩된 반복문과 중첩된 컴프리헨션

In [91]:
# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

NameError: name 'C' is not defined

In [92]:
print(c)

['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18', '3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27', '4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36', '5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45', '6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54', '7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63', '8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72', '9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']

## 3.1.4. 컴프리헨션 내 함수 사용하기

In [97]:
def sumthingFunction(i): #함수정의
    if i % 100 ==0: #i를 100으로 나눴을 때 나머지가 0인 조건
        return i # 참이면 i를 반환
    else: #아니면
        return 0 # 조건이 불일치하면 0을 출력

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] #l(리스트)에 있는 값 하나씩 꺼내서, 함수 돌려서, 조건이 맞으면 출력
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [100]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x: x % 100 == 0)(x) for x in l]
print(l2)

[True, True, True, False, False, False]

##3.2. 딕셔너리 컴프리헨션

- 표현형 {}
- 내부에 for문과 조건문
- {키: 밸류 for문 조건문}

In [104]:
#딕셔너리 컴프리헨션
#전통적인 방법
d = {}
for i in range(5):
    d[i] = i ** 2

print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [110]:
#딕셔너리 컴프리헨션 사
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [113]:
# 복합 자료형 순회

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [115]:
for i in ['abc']:
    print(i)

abc

In [117]:
#튜플 언패킹 반복

skill = [
    ('고기잡이', 100),
    ('고기팔기', 120),
    ('낚시', 5),
    ('통발', 5),
    ('큰그물', 5),
]
for i,j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [119]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

##5. enumerate를 사용한 순회
- enumerate(순회 가능한 객체, 인덱스의 시작값)

In [121]:
# enumerate 활용 = > 출력값 = 인덱스값, 변

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1): # 인덱스 1부터 시작
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!