<a href="https://colab.research.google.com/github/eileen-2/orm/blob/main/240111_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수의 이름은 변수다.

In [1]:
def hello():
    # hello는 function의 인스턴
    '''
    "Doc string"
    주석은 여기에 답니다.
    아규먼트, 파라미터: ~다

    return: ~다
    '''
    pass

In [4]:
print(type(hello)) # 함수도 class 입니다. 함수 이름을 변수처리 할 수 있다.

<class 'function'>

In [6]:
a = 10
# a는 무엇이죠?
# a는 int에 인스턴스

In [8]:
print(type(a))

<class 'int'>

In [10]:
l = [a, a, a]
l[2]

10

In [ ]:
print('hello world') # built-in function

In [12]:
l = [print, print, print]
l[2]('hello world')

hello world

In [3]:
hojun = print
hojun('hello world')

hello world

In [16]:
id(hojun), id(print) # 함수의 주소 값이 같다. 같은 것을 가르킨다.

(140133345039664, 140133345039664)

In [18]:
print = 10

In [20]:
print

10

In [22]:
print('hello world')

TypeError: 'int' object is not callable

In [4]:
hojun('hello')

hello

In [6]:
print = hojun

In [8]:
id(print)

135992434791728

In [ ]:
print('hello world')

# lambda의 응용

In [36]:
홀수 = lambda x: x % 3
홀수(3)

0

In [10]:
add = lambda x, y: x + y

In [ ]:
# 어려우면 30개 만들어보세요.
# 코드가 이해가 안되면, 그냥 그 문법 예제를 30개 만들어보세요.

In [14]:
# lambda +3항 연산자 많이 사용합니다.
x = 10
y = True if x % 2 == 0 else False

print(y)
lambda x: x ** 2

True

In [16]:
#lambda 함수 사용법

def 제곱(x): # 재사용할 예정이면 이렇게 함수 정의해서 사용
    return x ** 2
list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [19]:
# 재사용 하지 않을 예정 - > 이렇게 'lambda'로
# 실무에서 lambda가 더 많이 사용됨.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우, 가독성 저하!!
# 이럴 때에는 함수로 빼기도 함.
list(map(lambda x: x **2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
```
# 코드로 형식 지정됨
```

# top3 - 1. map에서 사용

In [21]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# [True, False, False, False, True]
# 에라토스테네스의 체(얼마나 마스킹이 유용한 지 알 수 있죠.) => 소수
# 마스킹한 값이 효율적인지!!

In [ ]:
[True, True,   True,   True,   True,   True,   True,   True,   True, True]

[0,    1,       2,       3,       4,      5,      6,      7,     8,     9]

# Top3 - 2. filter

In [25]:
#filter() ; iterable = 반복객체 중 true인 것만 가져오세요.
list(filter(lambda x:x % 2 == 0,range(100)))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
list(filter(lambda x:x % 3 == 0,range(100)))

In [ ]:
list(filter(lambda x:x > 50,range(100)))

In [ ]:
list(filter(lambda x:50 < x < 80 ,range(100)))

In [ ]:
#filter는 true만 출력하니까! 3항연산자 써서 true만 걸러서 출력가
list(filter(lambda x:True if x % 3 == 0 or x % 5 == 0 else False ,range(100)))

In [ ]:
#list(filter(lambda x: x % 2 == 0 ,range(100)))
list(filter(lambda x: x % 2 ,range(100))) # 홀수를 출력함. 왜????

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0 일 때, lambda x: x % 2 = > 0 => False로 평가
# x == 1 일 때, lambda x: x % 2 = > 1 = >True로 평가
# x == 3 일 때, lambda x: x % 2 = > 0 => False로 평가
# x == 4 일 때, lambda x: x % 2 = > 1 = >True로 평가
# x == 5 일 때, lambda x: x % 2 = > 0 => False로 평가
# x == 6 일 때, lambda x: x % 2 = > 1 = >True로 평가

In [37]:
test = lambda i: i % 2 ==0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

# top 3 - 3. sorted 에서 사용

### key 함수의 키 인수대로 정렬

In [32]:
l = [10, 20 ,5, 4, 22, 32, 5, 9, 11]
l.sort() #sort를 자주 사용하진 않습니다. 원본을 변경시키기 때문입니다.
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [34]:
l = [10, 20 ,5, 4, 22, 32, 5, 9, 11]
sorted(l) # sorted의 return값이 정렬된 값이죠.
l #ㅣ은 그대로. 그래서 많이 사용합니다.

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션을 정말!!!!!!! 많이 사용합니다.
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1문제는 거의 출제된다고 보시면 됩니다.
# 최댓값, 최솟값
# # https://codingdojang.com/scode/408?answer_mode=hide
# https://school.programmers.co.kr/learn/courses/30/lessons/120835

In [40]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['국어', '영어', '수학'],
    ['국어', '영어', '수학'],
    ['국어', '영어', '수학'],
    ['국어', '영어', '수학'],
]

In [43]:

반별점수 = [
    ['홍길동','30', '55', '22'],
    ['홍춘향', '55', '60', '73'],
    ['이철수','32', '65', '68'],
    ['이호준','92', '11', '95'],
]

In [44]:
sorted(반별점수) # 값이나 0번째 기준으로 정렬합니다.

[['이철수', '32', '65', '68'],
 ['이호준', '92', '11', '95'],
 ['홍길동', '30', '55', '22'],
 ['홍춘향', '55', '60', '73']]

In [46]:
def 함수(x):
    return x[3]

sorted(반별점수, key = 함수) # 가장 중요한 것은 이 key 함수의 return 값대로 정렬한다는 것입니다!

[['홍길동', '30', '55', '22'],
 ['이철수', '32', '65', '68'],
 ['홍춘향', '55', '60', '73'],
 ['이호준', '92', '11', '95']]

In [ ]:
'''
[['이철수', '32', '65', '68'], => 68
 ['이호준', '92', '11', '95'], => 95
 ['홍길동', '30', '55', '22'], => 22 # 맨 앞으로 보내야겠네?
 ['홍춘향', '55', '60', '73']] => 73

 '''

In [47]:
# def 함수(x):
#    return x[3]
# 영어 점수대로 출력하

sorted(반별점수, key = lambda x: x[2]) # 가장 중요한 것은 이 key 함수의 return 값대로 정렬한다는 것입니다!

[['이호준', '92', '11', '95'],
 ['홍길동', '30', '55', '22'],
 ['홍춘향', '55', '60', '73'],
 ['이철수', '32', '65', '68']]

In [53]:
# 문제: 국, 영, 수 평균 점수대로 출력
# 총점이 높으면 평균이 높으니까.
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3],reverse =True) # 내림차순(높은순으로)
#내림차순 = 평균점수가 높은게 앞으

[['이호준', '92', '11', '95'],
 ['홍춘향', '55', '60', '73'],
 ['이철수', '32', '65', '68'],
 ['홍길동', '30', '55', '22']]

In [57]:
# 문제가 살짝 어려워집니다.
# 동점자인 경우, 수학점수를 우선순위로 둔다.

반별점수 = [
    ['홍길동','50', '50', '50'],
    ['홍춘향', '45', '50', '55'],
    ['이철수','60', '35', '75'],
    ['이호준','92', '11', '95'],
]

sorted(반별점수, key = lambda x: x[1]+x[2]+x[3], reverse= True) #철수가 수학점수가 높은데 뒤에 있네?
#수학점수가 높으니 앞에 두겠다.
'''
반별점수 = [
    ['홍길동','50', '50', '50'], #=> 50
    ['홍춘향', '45', '50', '55'], #=> 50
    ['이철수','60', '35', '75'], #=>?
    ['이호준','92', '11', '95'], # = >?
]
'''
'''
#2
sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3]), reverse= True)
반별점수 = [
    ['홍길동','50', '50', '50'], #=> (50, 50)
    ['홍춘향', '45', '50', '55'], #=> (50, 50)
    ['이철수','60', '35', '75'], #=>?
    ['이호준','92', '11', '95'], # = >?
]
'''
#평균이 같을 경우 수학점수 순으로 정렬
sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3]), reverse= True)

#평균 같고, 수학점수 같을 경우, 이름순으로 정렬
sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3],x[0]), reverse= True)

[['이호준', '92', '11', '95'],
 ['이철수', '60', '35', '75'],
 ['홍길동', '50', '50', '50'],
 ['홍춘향', '45', '50', '55']]

In [60]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

sorted(우편번호, key = lambda x: ['우편번호'])

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '경기도 수원시', '우편번호': 355},
 {'주소': '제주특별자치도 제주시', '우편번호': 333}]

In [64]:
# 다음 입사문제
# 직선에 있는 점의 좌표
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

# 입력값 : s = [1, 3, 4, 8, 13, 17, 20]
# 출력값 : (3, 4)

s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [66]:
# 두개를 묶으세요 -> zip()
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [80]:
x = list(zip(s, s[1:]))

In [81]:
x = list(zip(s, s[1:]))
sorted(x, key = lambda x: x[1]-x[0])

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [68]:
# keep해주세요
# 이호준강사님이 자주 사용하는 순서

list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [71]:
# 자주 사용하진 않아요
list(enumerate((zip('hello', 'world'))))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [74]:
# 제너레이터를 만듭니다.

def gen():
    i = 1
    while True:
        yield i
        i += 1
list(zip(gen(), 'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

# built-in function 중에 하지 않은 것

![image.png]()

In [83]:
chr(65)

'A'

In [85]:
ord('A')
# 41인데 왜 65지?
# 16진법  4* 16^1 + 1 * 16^0 = 64 + 1

65

In [86]:
max([10,20,30])

30

In [89]:
min([10, 20, 30])

10

In [91]:
sum([10,20,30])
sum([10,20,30],100)
sum([[1,2,3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [92]:
sum([[1,2,3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [94]:
[] + [1,2,3] == [1,2,3]

True

In [98]:
# 다른 값이 출력될 수 있다는 것을 기억해야 합니다.
a = 10
print(a) # a.__str__
a # a.__repr__
repr(a) # a.__repr__

10

'10'

In [106]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야....')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')

In [ ]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repr이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        '''
        return f'{self.title}, {self.contents}'

    def __len__(self):
        '''
        len이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        '''
        # return 100
        return len(self.title + self.contents)

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야....')
len(게시물1)

In [111]:
print(게시물1) #로그로 출력할 때
게시물1
repr(게시물1) # 그 자료형을 대표하는 문자열 취급

파이썬 이렇게 어려운줄 몰랐다!

'파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야....'

In [114]:
print(type(range(10))) # range는 range라는 타입이다.

<class 'range'>

In [115]:
# 파이썬 v2.x
'''
range(10) => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
type(range(10)) => <type 'list'>
'''

#문제가 있다.
'''
range(100000000) => 메모리를 100000000 갯수만큼 한번에 생성을 해야한다.
# 이것을 개선하자는 얘기가 끊임없이 나왔습니다.
v2.x에서 나온 것 => xrange(). 이것은 특이하게 현재값과 다음값만을 가지고 있습니다.
메모리 공간은 2칸 (실제로는 더 잡아먹습니다.)이 되서 효율적으로 바뀌게 됨.
# 현재값, 다음값
'''

# 파이썬 v3.x => class range
'''
range(100000000)
# class range
# for i in range(1000) # 1000개의 메모리를 할당하는 것이 아닙니다.
#    pass
'''

SyntaxError: incomplete input (<ipython-input-115-eac2060e6184>, line 17)

In [ ]:
list(range(1000)) # 메모리 큰 부하를 줍니다.!!

In [116]:
sum(range(1000))

499500

In [ ]:
sum(list(range(1000))) # 메모리가 1000개 할당되었다가 더해야 하니 비효율적인 코드입니다.

In [117]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [118]:
list(reversed([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [120]:
reversed([1,2,3,4,5]) #아직 메모리 할당 전. 순회하거니 list취해야 메모리 할당됨.

In [121]:
sorted([1,2,3,4,5])
# 왜 sorted만 자료형으로 주나요?
# reversed, map, filter나 이런건 모두 메모리 주소를 가리키는데???
# 정답: (추후 심화과정에서 강의) 메모리 효율성 때문
# sorted만 비효율을 감수하고 사용자가 보기 편한 자료형으로 반

[1, 2, 3, 4, 5]

# match

* 3.10버전에서 나온 문법이기 때문에 현업에서 거의 사용 못함
* 속도가 매우 빨라야하는 프로젝트를 한다면->파이썬 최신버전 -> match문법을 사용할 수 있으나 권고하기가 어려움. 동료들이 match 문법이 익숙하지 않기 때문
* 2024년에는 중요도가 별포 0.5개 정도
* 2 ~ 3년 후에는 중요도가 3 ~4 개 정도로 올라갈 것으로 보입니다.

In [123]:
요일 = 100
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음!')

요일없음!

In [124]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [127]:
# 이런 코드를 더 많이 보게 될 겁니다.
def 요일반환(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
    }.get(요일, '요일없음')

요일반환(2)
요일반환(100)

'요일없음'

In [128]:
# 요일 = 4
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3: # 다른 언어에서는 이 문법이 가용합니다.
#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')

# class

* 초급자
* 많은 것을 만들어 봐라

* class 클래스이름 = > 인스턴스
* class Post = > 게시물1, 게시물2, 게시물3
* class Dot => 점1, 점2, 점3
* class Matrix = > 행렬1, 행렬2, 핼렬3
* class User => 유저1, 유저2, 유저3
* class Cart => 장바구니1, 장바구니2, 장바구니3
* class Comment => 댓글1, 댓글2, 댓글 3
* class Character => Licat, Lion, Mop1
* class Product => 상품1, 상품2, 상품3
* class Course => 강의1, 강의2, 강의3
* class Teacher => 강사1, 강사2, 강사3

In [135]:
# 0번 : 기초 상식
# 0.0 __init__ 매직매서드 없어도 되나요?
class 우편번호:
    제주도 = 100
    경기도 = 101
    전라북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로?
# 재사용성 + 확장성

# 0.1 클래스 꼭 사용해야하나요?
# 일부 자료형에서는 클래스는 꼭 사용해야 합니다.

# 아래와 같이 저장한다고 해서 문제가 생기는가?
# 데이터의 양(속도), 확장성, 다양성, 자료의 형
# 기본 클래스(list, dict(속도 개선이 많이 되었음에도), set)는 매우 느립니다.

# 제목: python 기초
# 저자: 이호준

{'제목': 'python 기초', '저자': '이호준'}

# 제목: html 기초
# 저자: 한재현

{'제목': 'html 기초', '저자': '한재현'}
[{'제목': 'python 기초', '저자': '이호준'}, {'제목': 'html 기초', '저자': '한재현'}]

100

In [136]:
from datetime import datetime

datetime.now()

datetime.datetime(2024, 1, 11, 5, 45, 40, 296088)

## Post

In [159]:
# 1.
# 클래스를 설계할 때,
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_created_at(스네이크 표기법) - 파이썬
# inCreatedAt(카멜 표기법) - 자바스크립트에서 많이 사용(파이썬은 잘 안)
# InCreatedAt(파스칼 표기법) -  파이썬 클래스
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title # 인스턴스 고유의 영역
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self): #__str__쓰면 __repr__ 세트처럼 와야함
        return self.title

    def __add__(self, next):
        #return self.count +next.count #게시물 1 + 게시물 2
        return self.title + next.title #게시물 1 제목 + 게시물 2 제목

    def __len__(self):
        pass

    def __eq__(self, next):
        return self.title == next.title

    def update(self, in_contents):
        '''
        #in_ 실무에서 사용하는 접두사가 아닙니다.
        이해를 돕기위한 변수명
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

    def delete(self, contents):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)
게시물2 = Post('2','22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # "+"연산이 나오면 앞(게시물1)의 __add__가 실행됩니다.
게시물1.update('hello world')
게시물1.contents

게시물1 == 게시물2 # 이 코드는 이제 title만 비교하는 코드가 되었습니다.

파이썬은 참 깊군요!
파이썬은 참 깊군요!
파이썬은 참 깊군요!2

False

In [153]:
l = [10, 20, 30]
len(dir(l))

47

In [155]:
len(dir(게시물2))

36

## Dot

In [161]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + self.y) # x,y 말고 다른 점이 없으니까 튜플자료형으로 구현(리스트 노)

    def __mul__(self, next):
        return (self.x * next.x, self.y * self.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 ## root은 **0.5로 많이 사용합니다.

Dot1 = Dot(20, 10)
Dot2 = Dot(30, 5)

Dot1 + Dot2
Dot1 * Dot2
Dot1.distance(Dot2)

11.180339887498949

## Character

In [162]:
from os import name
class Character:

    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x


    def move(self):
        self.x += 100


    def attact(self, next):
        next.hp-= self.power

주인공1 = Character('licat', '질풍검', 100, 100, 10, 10)
몹1 = Character('licat', '질풍검', 100, 100, 10, 10)

주인공1.attact(몹1)
몹1.hp

90